body {
  margin: 0px;
  padding: 0px;
  font-family: "IntuitiveRegular";
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background-image: url(https://gallery.yopriceville.com/var/albums/Backgrounds/Fall_Wooden_Background_with_Fruits.jpg?m=1441226061);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  font-size: 18px;
}

nav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #41a62b;
}
nav ul li{
  float: left;
  width: 20%;
  text-align: center;
}
nav ul::after{
  content: "";
  display: table;
  clear: both;
}
.masquer{
  display: none;
}
nav > ul li:hover .masquer{
  display: block;
}

 ul li:hover{
   text-decoration: underline;
 }

.masquer li{
  width: 100%;
  float: none;
  text-align: center;
}
nav a{
  display: block;
  padding: 10px, 0px;
  text-decoration: none;
  color: #000
}

.masquer a{
  padding: 10px;
}

nav img{
  height: 35%;
  width: 35%;
}

#logo{
  padding : 0px;
  background-color: lightgray;
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 75%;
}

#logo:hover{
  background-color: silver;
}

.last{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.corps{
  width: 75%;
  align-self: center;
  background-color: rgba(173,216,230, 0.8);
}
.caroussels{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.caroussel{
  width: 25%;
}
.caroussel img{
 width: 100%;
}
footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
